.cuadriculas{
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.uno{
    grid-column: 1/3;
    grid-row: 1;
    background-color: chartreuse;
}

.dos {
    grid-column: 2/4;
    grid-row: 1/3;
    background-color: chocolate;
}

.tres{
    grid-column: 1;
    grid-row: 2/5;
    background-color: crimson;
}

.cuatro{
    grid-column: 3;
    grid-row: 3;
    background-color: darkorange;
}

.cinco{
    grid-column: 2;
    grid-row: 4;
    background-color: darksalmon;
}

.seis{
    grid-column: 3;
    grid-row: 4;
    background-color: deeppink;
}


/* EJEMPLO 2 CSS */
.cuadriculasDos {
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.box{
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    box-sizing: border-box;
}

.nested{
    border: 2px solid #ffec99;
    border-radius: 5px;
    background-color: #fff9db;
    padding: 1em;
    box-sizing: border-box;
}

.box2, .box3, .box4, .box5 {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
    text-align: center;
}