body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #bc6;
    color: white;
    padding: 15px;
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.col-3, .col-6, .col-12{
    padding: 15px;
    color: white;
}

.col-3.menu{
    flex: 25%;
    background-color: #182d49;
    color: white;
}

.col-6{
    flex: 50%;
    background-color: chartreuse;
}

.col-3.rigth-column{
    flex: 25%;
    background-color: chocolate;
    text-align: center;
}

.menu ul{
    list-style-type: none;
    padding: 0;
}

.menu li{
    padding: 8px;
    margin-bottom: 7px;
    background-color: #c1305A;
    text-align: center;
    cursor: pointer;
}

.rigth-image{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: 0;
    display: block;
    width: 735px;
}

@media screen and (max-width: 768px){
    .col-3, .col-6{
        flex: 100%;
    }

    .rigth-image{
        margin-left: auto;
        margin-right: auto;
    }
}

